.center-div {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify:auto;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative; /* Creates a stacking context and allows z-index to work */
    
    overflow: hidden; /* Hide scrollbars and disable scrolling for the whole page */
    height: 100%;    /* Ensure the body and html elements take up the full viewport height */
    margin: 0;       /* Remove default margins to use the full screen */
}

.countdown-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b11919;
    padding: 20px;
    box-sizing: border-box;
    
    /* These make it overlay everything */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000; /* very high z-index to ensure it's on top */

    opacity: 1;

    transition: 
        top 1.5s ease 1.0s,
        opacity 1.5s ease 1.0s;
}

.table {
    display: table;
    min-height: 100%;
    min-width: 100%;
    
}

footer {
  position: absolute;
  bottom: 1%;
  left: 50%; /* 50% from the left edge of the containing block */
  transform: translateX(-50%); /* To center horizontally if using 50% left */

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.bottom {
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

footer a {
  color: rgba(255, 255, 255, 0.524);
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
  font-size: 0.75em;
}


a {
  color: rgba(255, 255, 255, 0.291); /* Change link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
}

#center-text {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}