
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.scroll {
  white-space: nowrap;
  overflow: hidden;
  user-select: none;

  position: sticky;
  top: 0;
  z-index: 9999;
}

.marquee-track {
  display: flex;
  width: max-content; /* Container fits all content side-by-side */
  animation: scroll-left 30s linear infinite; /* Infinite loop */
}


@keyframes scroll-left {
  from { transform: translateX(0); }
  to { transform: translateX(-25%); } /* Move by half to reset seamlessly */
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0.25em
}