.center-div {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify:auto;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

.center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}