:root {
  --primary-color: #b11919; /* Define a custom property */
  --secondary-color: #ecca16; /* Define a custom property */
}

.center-div {
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify:auto;

    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #b11919;
    opacity: 0;
    transition: opacity .5s; /* The transition effect */
}

.center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li span {
  color: rgb(77, 77, 77); /* Change link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
  cursor: pointer;
}

/*#region topbar*/

.topbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b11919; /* or your preferred color */

    position: sticky; /* or fixed if you want it to stay at top while scrolling */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2em 2em rgba(0,0,0,0.25);
}

.top-bar-left ul,
.top-bar-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    gap: 1em;
    padding: 0.5vw;
}

.top-bar-left {
  padding-left: 1.5em;
}

.top-bar-right {
  padding-right: 1.5em;
}


.top-bar-left img {
    height: 3vw;
    width: auto;
    display: block;
}

.top-bar-left button {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}


.top-bar-right span {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 0.5em;
    font-size: 125%;
    padding: 0.5em;

}

.top-bar-right span:hover {
    background-color: #5a0b0b50;
}

.nav-button svg {
  width: 48px;
  height: 48px;
}

.fullscreen-container {
    width: 100vw;
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b11919;
    padding: 20px;
    box-sizing: border-box;
    
    /* These make it overlay everything */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* very high z-index to ensure it's on top */
    
    /* Optional: prevent scrolling of content behind */
    overflow-y: auto; /* allows scrolling within the overlay if needed */

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, height 0.3s ease, visibility 0.3s ease;
}

.fullscreen-container.open {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}

.list-wrapper {
    width: 100%;

    padding: 30px;
    top: 0;
    left: 0;
    position:fixed;
}

.list-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.list-wrapper li {
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    font-weight:normal;
    line-height: 2em;
    font-size: 4.5vh;

    background-color: #02020223;
    color: white;
    border-radius: 1em;
    transition: 
      background-color 0.3s ease,
      color 0.3s ease;
    font-weight: bold;
}


#logo-btn {
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 1em;
}

#logo-btn:hover {
  background-color: #5a0b0b50 /* Blue tint */

}

.list-wrapper li:hover {
  background-color: #00000044;
  cursor: pointer;
}

.list-wrapper li:active {
  background-color: #0000006c;
}


.show-on-small {
  display: none !important;
}




/* Optional: Hide on small screens */
@media (max-width: 900px) {
    .hide-on-small {
        display: none !important;
    }

    .show-on-small {
        display: block !important;
    }

    .top-bar-left img
    {
      height: 5em;
    }

    .top-bar-left ul {
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center
    }

    .top-bar-right i {

      font-size: 185%;
    }
    
    .top-bar-right button {
      width: 5em;
      height: 5em;
      color: white;

      text-align: center;
    }

}

/*#endregion*/



/*#region footer*/

.footer-section {
  background-color: #4e0b0b;
  width: 100%;
  height: fit-content;
  padding: 1em;
}

.footer-content {
  display: table;
  height: 100%;
  width: 100%;
}

.footer-content div {
  height: 100%;
  vertical-align: left;
  display: table-cell;
  width: 50%;
}


@media screen and (max-width: 900px) {
  .footer-content .footer-content-section {
    padding: 0.5em;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .footer-content .footer-content-section {
    padding: 2em;
    text-align: center;
  }
}

.footer-content div p {
  text-align: justify;
  color: white;
}

.footer-content div {
  color: white;
}

.footer-content div b
 {
  color: #ecca16;
}

.footer-content div b:hover
 {
  color: #caac14;
}

.footer-content div a
 {
  color: #ffffff;
}

.footer-content div a:hover
 {
  color: #acacac;
}

.footer-socials {
  display: table;
  width: 100%;
}

.footer-socials button {
  width: 3em;
  height: 3em;
  display: table-cell;
  float: left;
}

.footer-socials button img {
  filter: invert(100%);

  width: 75%;
  height: 75%;

  transition: filter 0.3s ease;
}

.footer-socials button img:hover {
  filter: invert(75%);
}

/*#endregion*/


/*#region header*/

.header-section {
  background-color: white;

  margin-top: 0;
  position: relative;
  overflow: hidden;
}



.header-content {
  position: relative; /* Add this */
  height: 100%; /* Add this */
  display: flex; /* Change from table */
  flex-direction: column;
  justify-content: flex-end; /* Pushes title to bottom */
}

.header-section .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 1; /* Add this - puts image behind */
}

.header-section .image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

@media screen and (max-width: 900px) {
  .header-section {
      height: 70vh;
  }
}

@media screen and (min-width: 900px) {
  .header-section {
    height: 80vh;
  }

  .header-section .image-container img {
    object-position: 50% 50%;
  }
}


.header-section .image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(177, 25, 25, 1) 100%);
  z-index: 2; /* Add this - puts gradient on top of image */
}

.title-container {
  position: relative;
  z-index: 3; /* Add this - puts text on top of everything */

}

/* Rest of your CSS stays the same */

.header-section.yellow {
  background-color: #ecca16;
}

.header-section.yellow .image-container::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ecca16 100%);
}

.header-section.red {
  background-color: #b11919;
}

.header-section.red .image-container::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #b11919 100%);
}


.header-content div h1 {
  color: white;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  font-size: 7.5vw;
}

.line-text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.line-text span {
  padding: 0 10px;

  font-size: 500%;
  line-height: 0.75em;
  font-weight: bold;
  color: white;
  font-family: serif;
}




.line-text::before,
.line-text::after {
  content: ""; 
  flex: 1; 
  border-top: 0.5vh solid white; 
}

.line-text::before {
  margin-right: 10px; /* Space between the left line and the text */
}

.line-text::after {
  margin-left: 10px; /* Space between the right line and the text */
}

/*#endregion*/

.text-section {
  background-color: white;
  width: 100%;
  height: 50vh;
  padding: 10vw;
  padding-top: 1em;
  padding-bottom: 1em;
  box-sizing: border-box; /* Include padding in height calculation */
  display: flex; /* Flexbox is the most reliable method */
}

.text-section.yellow {
  background-color: #ecca16;
}

.text-section.red {
  background-color: #b11919;
}

.text-section.maroon {
  background-color: #4e0b0b;
}

.text-content {
  width: 100%;

  flex-grow: 1;      /* Allows child to fill available space */
  display: flex;     /* Makes the child a flex container for grandchildren */
  flex-direction: row; /* Stacks grandchildren vertically */
}

.text-content div {
  vertical-align: middle;
  box-sizing: border-box; /* Include padding in height calculation */
  justify-content: center;
  align-items: center; /* Vertically centers the content */
  display: flex;
  flex-direction: column;
}

.text-content div p {
  color: white;
  font-weight: bold;
  font-size: clamp(100%, 100%, 200%);
  margin: 0; /* Remove default margins */

  display: block;
  margin-top: auto;
  margin-bottom: auto;
  justify-self: center;
}

@media screen and (min-width: 1200px) {

.text-content div p {
  font-size: clamp(100%, 135%, 200%);
}

}

.text-content div h1,
.text-content div h2 {
  color: white;
  text-align: center;
  vertical-align: top;
  font-weight: bolder;
  margin: 0; /* Remove default margins */
}

.text-content img {
  display: block;
  object-fit: cover;
  border-radius: 0.5em;
  aspect-ratio: 1.835/1;
}


@media screen and (max-width: 900px) {

  .header-content div h1 {
    font-size: 7.5vw;
  }

  .text-section {
    padding: 1em;
    height: auto; /* Allow natural height on mobile */
  }

  .text-content div {
      width: 100%;
  }

  .text-content div p {
    color: white;
    font-weight: bold;
    font-size: clamp(1.5rem, 2.5rem, 2vh);
  }

  .text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  .text-content .main-text-container {
    display: block;
    order: -1;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 900px) {

  .text-content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .text-content div {
    width: 50%;
    padding: 1.5em;
  }
}

.text-content hashtag {
  font-size: clamp(2rem, 3.5rem, 2vh);
}

@media screen and (max-width: 900px) {

.text-content hashtag {
  font-size: clamp(2.5rem, 3.5rem, 2vh);
}
}

.text-content h1 span {
  color:#b11919;
}

.text-content h1 span:nth-child(3) {
  color:rgb(193, 133, 21);
}