.center-div {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify:auto;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}

.table {
    display: table;
    min-height: 100%;
    min-width: 100%;
    
}

footer {
  position: absolute;
  bottom: 1%;
  left: 50%; /* 50% from the left edge of the containing block */
  transform: translateX(-50%); /* To center horizontally if using 50% left */

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.bottom {
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

footer a {
  color: rgba(255, 255, 255, 0.524);
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
  font-size: 0.75em;
}


a {
  color: rgba(255, 255, 255, 0.67); /* Change link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
}

#center-text {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}