
.video-section {
  background-color: #4e0b0b;
  overflow: hidden;
  
}

.video-content {

  margin-left: -0vh;
  margin-right: -0vh;
  will-change: margin;
  transition: margin 0.05s ease-out; /* Smooth the animation slightly */
  height:100%;
  box-sizing: border-box;
}


@media screen and (min-width: 900px) {
  .video-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Set control bar background to a semi-transparent black */
.video-js .vjs-control-bar {
    background-color: #b119199e
}

/* Set the color of buttons and text to white */
.video-js .vjs-button,
.video-js .vjs-control {
    color: #ffffff;
}

/* Adjust the time display color if needed */
.video-js .vjs-current-time,
.video-js .vjs-duration {
    color: #ffffff;
}

.video-js {
  color: #ffffff;
}

.logo-section {
  background-color: #b11919;
  width: 100%;
  height: fit-content;
  padding: 1em;
}

.logo-content {
  display: table;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .logo-content {
    display: table;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.gallery-section {
  background-color: #b11919;
  width: 100%;
  height: 75vh;
}

.gallery-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
}

.gallery-content > div {
  flex: 0 0 calc(100%/3);
  box-sizing: border-box;
  display: flex;
  position: relative; /* This makes it the positioning context for absolute children */
  border: solid #ecca16 0px;
  transition: border-width 0.3s ease;
}

.gallery-content img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 12.5%;
}

.gallery-content .gallery-button {
  background-color: var(--primary-color);
  position: absolute;
  top: 90%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Perfect centering */
  padding: 0.5em 1em;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.5em;
  z-index: 10;
  transition: background-color 0.3s ease; /* Smooth hover effect */
white-space: nowrap;
}

.gallery-content > div:hover .gallery-button {
  background-color: #7a0f0f
}


.gallery-content > div:hover {
  border: solid #ecca16 1em;
}

@media screen and (max-width: 900px) {
  .gallery-content .gallery-button {
    top:80%;
  }

  .gallery-content {
    flex-direction: column;
  }

  .gallery-section {
    height: auto;
  }

  .gallery-content > div {
    flex: 0 0 auto;
    height: 50vh; /* Give each item a fixed height */
  }
}