/*#region pillars */

.pillar-section {
    background-color: #b11919;
    width: 100%;
    height: 50vh;
    padding: 1em;
}

.pillar-content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    gap: clamp(0.25em, 2vw, 1em); /* Responsive gap */
}

.pillar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: none; /* Removed max-width for better responsiveness */
    cursor: pointer;
    min-height: 0;
}

.pillar-item h1 {
    font-weight: bold;
    color: #ecca16;
    font-size: clamp(3rem, 10vw, 8rem); /* Responsive font size with limits */
    line-height: 0.75em;
    font-family: serif;
    margin: 0 0 0 0; /* Responsive margin */
    transition: color 0.2s ease;
    flex-shrink: 0;
}

.pillar-item:hover h1 {
    color: #ffffff;
}

.pillar-item:active h1 {
    color: #ecca16;
}

.pillar-item object {
    width: 100%;
    flex: 1;
    min-height: 0;
    object-fit: contain;
    transition: filter 0.2s ease;
    pointer-events: none;
    user-select: none;
    align-self: flex-start; /* Anchor to top */
    display: block; /* Removes inline element spacing */

}

.pillar-item:hover object {
    filter: brightness(115%);
}

.pillar-item:active object {
    filter: brightness(95%);
}

/* Optional: Adjust section height on mobile for better proportions */
@media (max-width: 768px) {
    .pillar-section {
        height: 40vh; /* Slightly smaller on mobile */
        padding: 0.5em;
    }
}

/*#endregion*/


/*#region policy*/

.policy-section.red {
  background-color: #b11919;
}

.policy-section.yellow {
  background-color: #ecca16;
}

.policy-section {
  width: 90%;
  height: fit-content;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}


.policy-content {
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.policy-content div {


  height: 100%;
  vertical-align: top;
}

.policy-content div p {
  color: white;
  font-weight: bold;
  font-size: 3vw;
}

.policy-content div h1 {
  color: white;
  text-align: center;
  vertical-align: top;
  font-weight: bolder;
}

.policy-content div h2 {
  color: white;
  text-align: center;
  vertical-align: top;
  font-weight: bolder;
  font-size: x-large;
  border-bottom: 0.25vh solid white; 

  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  padding-left: 2em;
  padding-right: 2em;
}

/*#endregion*/

/*#region categories*/

.category-section {
  width: 95%;
  height: fit-content;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

.category-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, 10rem), 1fr));
  
  gap: 1em;


  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
}

.category-content .category-box .button-container {
  background-color: #ecc816b8;
  padding: 0.5em;
  cursor: pointer;
  width: auto;

  border: solid;
  border-radius: 0.5em;
  border-width: 0.25em;
  border-color: #ecca16;

  z-index: 3;

  transition: 0.5s background-color ease;

  margin-bottom: 0;
  overflow: hidden;
}

.category-content .category-box .button-container:hover {
  background-color: #9f870cb8;
}

.category-content .category-box .button-container:active {
  background-color: #ecca16;
}

.category-content .category-box .button-container i {
  display: block; /* Required for margin: auto to work */
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 125%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.category-content .category-box h2 {
  font-size: 100%;
  color: white;
  text-align: center;
  vertical-align: top;
  font-weight: bolder;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari, Chrome, Opera */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Standard syntax */

  margin-bottom: 0;
}

/* 1. The inner div becomes the grid container */
.category-content .category-box > .text-container {
  display: grid;
  grid-template-rows: 0fr; /* Start closed */
  transition: grid-template-rows 0.5s ease;
  
  /* Reset these so they don't force the box open */
  padding: 0;
  border: none;
  overflow: hidden;
}

/* 2. When the parent is open, expand the grid row */
.category-content .category-box.open > .text-container {
  grid-template-rows: 1fr;
}

/* 3. Put all styling (padding, background, border) on the content INSIDE the grid */
.category-content .category-box .text-container > ul {
  min-height: 0; /* Required for the grid row to collapse fully */
  
  /* Move your visual styles here */
  background-color: #ecc816b8;
  border: solid 0.25em #ecca16;
  border-radius: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  width: 80%;
  color: white;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  font-size: 100%;

  padding: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  transition: 0.5s padding-top ease, 0.5s padding-bottom ease, 0.5s opacity ease;
}

.category-content .category-box.closed .text-container > ul {

  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}



.category-content .category-box .text-container ul {
  margin-bottom: 0;
}

.category-content .category-box .text-container li {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*#endregion*/

.info-section {
  background-color: #b11919;
  width: 100%;
  height: fit-content;
  padding: 1em;
}

.info-content {
  display: flex;
  height: 100%;
  margin: 1em;
}

.info-content div {
  background-color: #ecc816b8;
  padding: 1em;
  width: 100%;

  border-radius: 1em;
  border-width: 1em;
  border: solid #ecca16;

  color: white;
  font-weight: bolder;
}

@media screen and (max-width: 900px) {
  .category-section {
    width: 100%;
  }

  .category-content {
      grid-template-columns: auto;
  }
}